<footer role="contentinfo" class="main-footer">
    <div class="container-fluid"><div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <img src="img/symbol-uniritter.svg" class="uniritter-symbol" alt="">
        </div>
        <div class="col-sm-6 col-md-3 col--address">
            <h5>Campus Zona Sul</h5>
            Rua Orfanotrófio, 555<br/>
            Alto Teresópolis - Porto Alegre/RS CEP 90840-440<br/>
            (51) 3230.3333 | (51) 3027.7300<br/>
            <a class="map-link" href="#">Ver no mapa</a>
        </div>
        <div class="col-sm-6 col-md-2 col--address">
            <h5>Campus Exclusivo</h5>
            Av. Wenceslau Escobar, 1040<br/>
            Cristal - Porto Alegre/RS<br/>
            CEP 91900-000
            <a class="map-link" href="#">Ver no mapa</a>
        </div>
        <div class="col-sm-6 col-md-2 col--address">
            <h5>Campus FAPA</h5>
            Av. Manoel Elias, 2001<br/>
            Fone 51 3230.3333<br/>
            Porto Alegre/RS<br/>
            CEP 91240-261
            <a class="map-link" href="#">Ver no mapa</a>
        </div>
        <div class="col-sm-6 col-md-3 col--address">
            <h5>Campus Canoas</h5>
            Rua Santos Dumont, 888<br/>
            Niterói - Canoas/RS<br/>
            CEP 92120-110<br/>
            (51) 3464.2000 | (51) 3032.6000
            <a class="map-link" href="#">Ver no mapa</a>
        </div>
    </div></div>

    <div class="main-footer__lower"><div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-inline">
                <li><a href="#">Telefones</a></li>
                <li><a href="#">Trabalhe conosco</a></li>
                <li><a href="#">Nota legal</a></li>
                <li><a href="#">Webmail</a></li>
                <li><a href="#">Serviços a comunidade</a></li>
            </ul>
        </div>
        <div class="col-md-4 list--social">
            <ul class="list-inline">
                <li><a href="#" class="social-media__link social-media__link--facebook"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#" class="social-media__link social-media__link--twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="social-media__link social-media__link--google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="social-media__link social-media__link--youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" class="social-media__link social-media__link--instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    </div></div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/default.min.js"></script>
</body>
</html>
