<header role="banner">
    <a href="#main-content" class="goto-content">Ir para o conteúdo principal</a>

    <nav class="navbar yamm navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    Menu
                </button>
                <a class="navbar-brand" href="/">
                    <img src="img/logo-uniritter.svg" alt="">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-collapse--header" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-right visible-md visible-lg" role="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control input-lg" placeholder="Buscar por...">
                        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"</span>
                    </div>
                    <button type="submit" class="sr-only">Buscar</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar__exams"><a href="#">Vestibular</a></li>
                    <li class="navbar__portal"><a href="#"><span class="fa fa-user"></span> Portal do aluno</a></li>
                    <li class="dropdown dropdown--services">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Serviços <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4>Para o aluno</h4>
                                            <ul class="list-unstyled">
                                                <li><a href="#">Biblioteca</a></li>
                                                <li><a href="#">Transporte e Estacionamento</a></li>
                                                <li><a href="#">Estágios e oportunidades</a></li>
                                                <li><a href="#">Financeiro</a></li>
                                                <li><a href="#">Formaturas</a></li>
                                                <li><a href="#">DCE</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6">
                                            <h4>Serviços gerais</h4>
                                            <ul class="list-unstyled">
                                                <li><a href="#">Alimentação</a></li>
                                                <li><a href="#">Proficiência e curso de inglês</a></li>
                                                <li><a href="#">Intercâmbio</a></li>
                                                <li><a href="#">Editora</a></li>
                                                <li><a href="#">Livrarias</a></li>
                                                <li><a href="#">Copystar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </li>
                </ul>

                <p class="navbar-text navbar-right navbar-phone hidden-sm hidden-md">Central Uniritter <strong>0800 642 4000</strong></p>

                <ul class="nav navbar-nav navbar-nav--main">
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Graduação <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu--courses" role="menu">
                            <li class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Negócios</h4>
                                        <ul>
                                            <li><a href="#">Administração</a></li>
                                            <li><a href="#">Ciências contábeis</a></li>
                                            <li><a href="#">Gestão de Recursos Humanos</a></li>
                                            <li><a href="#">Marketing</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Tecnologia da Informação</h4>
                                        <ul>
                                            <li><a href="#">Ciência da Computação</a></li>
                                            <li><a href="#">Design de games</a></li>
                                            <li><a href="#">Sistemas de Informação</a></li>
                                            <li><a href="#">Análise e Desenvolvimento de Sistemas</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Arquitetura e Design</h4>
                                        <ul>
                                            <li><a href="#">Arquitetura e Urbanismo</a></li>
                                            <li><a href="#">Design Gráfico</a></li>
                                            <li><a href="#">Design de Moda</a></li>
                                            <li><a href="#">Design de Produto</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Comunicação</h4>
                                        <ul>
                                            <li><a href="#">Relações Públicas</a></li>
                                            <li><a href="#">Jornalismo</a></li>
                                            <li><a href="#">Publicidade e propaganda</a></li>
                                            <li><a href="#">Relações Internacionais</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Engenharia</h4>
                                        <ul>
                                            <li><a href="#">Engenharia Civil</a></li>
                                            <li><a href="#">Engenharia Elétrica</a></li>
                                            <li><a href="#">Engenharia Ambiental e Sanitária</a></li>
                                            <li><a href="#">Engenharia de Controle e Automação</a></li>
                                            <li><a href="#">Engenharia Mecânica</a></li>
                                            <li><a href="#">Engenharia de Produção</a></li>
                                            <li><a href="#">Engenharia Química</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <h4>Saúde</h4>
                                        <ul>
                                            <li><a href="#">Enfermagem</a></li>
                                            <li><a href="#">Biomedicina</a></li>
                                            <li><a href="#">Fisioterapia</a></li>
                                            <li><a href="#">Farmácia</a></li>
                                            <li><a href="#">Medicina Veterinária</a></li>
                                            <li><a href="#">Nutrição</a></li>
                                            <li><a href="#">Psicologia</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Ensino</h4>
                                        <ul>
                                            <li><a href="#">História</a></li>
                                            <li><a href="#">Letras</a></li>
                                            <li><a href="#">Pedagogia</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <h4>Direito</h4>
                                        <ul>
                                            <li><a href="#">Direito</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#">Pós-graduação</a></li>
                    <li><a href="#">Ensino</a></li>
                    <li><a href="#">Pesquisa</a></li>
                    <li><a href="#">Extensão</a></li>
                    <li><a href="#">Institucional</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Fale conosco</a></li>
                    <li class="navbar__calendar"><a href="#"><span class="fa fa-calendar"></span> Calendário Acadêmico</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


