
<p class="bs-component">
    <a href="#" class="btn btn-default">Padrão</a>
    <a href="#" class="btn btn-primary">Primário</a>
    <a href="#" class="btn btn-success">Sucesso</a>
    <a href="#" class="btn btn-info">Info</a>
    <a href="#" class="btn btn-warning">Aviso</a>
    <a href="#" class="btn btn-danger">Perigo</a>
    <a href="#" class="btn btn-link">Link</a>
</p>

<p class="bs-component">
    <a href="#" class="btn btn-default disabled">Padrão</a>
    <a href="#" class="btn btn-primary disabled">Primário</a>
    <a href="#" class="btn btn-success disabled">Sucesso</a>
    <a href="#" class="btn btn-info disabled">Info</a>
    <a href="#" class="btn btn-warning disabled">Aviso</a>
    <a href="#" class="btn btn-danger disabled">Perigo</a>
    <a href="#" class="btn btn-link disabled">Link</a>
</p>

<p class="bs-component">
    <a href="#" class="btn btn-primary btn-lg">Botão grande</a>
    <a href="#" class="btn btn-primary">Botão tamanho padrão</a>
    <a href="#" class="btn btn-primary btn-sm">Botão pequeno</a>
    <a href="#" class="btn btn-primary btn-xs">Botão extra-pequeno</a>
</p>

<p class="bs-component">
    <a href="#" class="btn btn-default btn-lg btn-block">Botão bloco</a>
</p>
