<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
            <img src="img/slides/01.jpg" alt="..."></a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="1">
            <img src="img/slides/02.jpg" alt="..."></a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="2">
            <img src="img/slides/03.jpg" alt="..."></a>
        </li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="#"><img src="img/slides/01.jpg" alt="..."></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/slides/02.jpg" alt="..."></a>
        </div>
         <div class="item">
            <a href="#"><img src="img/slides/03.jpg" alt="..."></a>
        </div>
    </div>
</div>
