<ul class="list-unstyled news-list">
    <li class="news-list__item">
        <span class="news-list__date">06/05/2015</span>
        III Simpósio Nutri&amp;Ciência
    </li>
    <li class="news-list__item">
        <span class="news-list__date">07/05/2015</span>
        Aula Inaugural Direito Manhã POA
    </li>
    <li class="news-list__item">
        <span class="news-list__date">07/05/2015</span>
        Jornalismo em Pauta - Zero Hora (campus FAPA)
    </li>
    <li class="news-list__item">
        <span class="news-list__date">13/05/2015</span>
        Junior Experience
    </li>
</ul>
