<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
            <span class="glyphicon-class">envelope</span>
        </li>

        <li>
            <span class="fa fa-search" aria-hidden="true"></span>
            <span class="glyphicon-class">search</span>
        </li>

        <li>
            <span class="fa fa-user" aria-hidden="true"></span>
            <span class="glyphicon-class">user</span>
        </li>

        <li>
            <span class="fa fa-check" aria-hidden="true"></span>
            <span class="glyphicon-class">ok</span>
        </li>

        <li>
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="glyphicon-class">remove</span>
        </li>

        <li>
            <span class="fa fa-cog" aria-hidden="true"></span>
            <span class="glyphicon-class">cog</span>
        </li>


        <li>
            <span class="fa fa-print" aria-hidden="true"></span>
            <span class="glyphicon-class">print</span>
        </li>

        <li>
            <span class="fa fa-camera" aria-hidden="true"></span>
            <span class="glyphicon-class">camera</span>
        </li>

        <li>
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            <span class="glyphicon-class">map-marker</span>
        </li>

        <li>
            <span class="fa fa-adjust" aria-hidden="true"></span>
            <span class="glyphicon-class">adjust</span>
        </li>

        <li>
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class="glyphicon-class">edit</span>
        </li>

        <li>
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-left</span>
        </li>

        <li>
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-right</span>
        </li>

        <li>
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span class="glyphicon-class">calendar</span>
        </li>

        <li>
            <span class="fa fa-comments" aria-hidden="true"></span>
            <span class="glyphicon-class">comment</span>
        </li>

        <li>
            <span class="fa fa-briefcase" aria-hidden="true"></span>
            <span class="glyphicon-class">briefcase</span>
        </li>

        <li>
            <span class="fa fa-paperclip" aria-hidden="true"></span>
            <span class="glyphicon-class">paperclip</span>
        </li>

        <li>
            <span class="fa fa-link" aria-hidden="true"></span>
            <span class="glyphicon-class">link</span>
        </li>


        <li>
            <span class="fa fa-credit-card" aria-hidden="true"></span>
            <span class="glyphicon-class">credit-card</span>
        </li>

        <li>
            <span class="fa fa-cutlery" aria-hidden="true"></span>
            <span class="glyphicon-class">cutlery</span>
        </li>

        <li>
            <span class="fa fa-phone" aria-hidden="true"></span>
            <span class="glyphicon-class">earphone</span>
        </li>
    </ul>
</div>
