<h3>Glyphicons</h3>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="glyphicon-class">envelope</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <span class="glyphicon-class">search</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="glyphicon-class">user</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="glyphicon-class">ok</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="glyphicon-class">remove</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <span class="glyphicon-class">cog</span>
        </li>


        <li>
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <span class="glyphicon-class">print</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            <span class="glyphicon-class">camera</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <span class="glyphicon-class">map-marker</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
            <span class="glyphicon-class">adjust</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span class="glyphicon-class">edit</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-left</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-right</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <span class="glyphicon-class">calendar</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="glyphicon-class">comment</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            <span class="glyphicon-class">briefcase</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            <span class="glyphicon-class">paperclip</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <span class="glyphicon-class">link</span>
        </li>


        <li>
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
            <span class="glyphicon-class">credit-card</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            <span class="glyphicon-class">cutlery</span>
        </li>

        <li>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span class="glyphicon-class">earphone</span>
        </li>
    </ul>
</div>


<h3>Font Awesome</h3>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
            <span class="glyphicon-class">envelope</span>
        </li>

        <li>
            <span class="fa fa-search" aria-hidden="true"></span>
            <span class="glyphicon-class">search</span>
        </li>

        <li>
            <span class="fa fa-user" aria-hidden="true"></span>
            <span class="glyphicon-class">user</span>
        </li>

        <li>
            <span class="fa fa-check" aria-hidden="true"></span>
            <span class="glyphicon-class">ok</span>
        </li>

        <li>
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class="glyphicon-class">remove</span>
        </li>

        <li>
            <span class="fa fa-cog" aria-hidden="true"></span>
            <span class="glyphicon-class">cog</span>
        </li>


        <li>
            <span class="fa fa-print" aria-hidden="true"></span>
            <span class="glyphicon-class">print</span>
        </li>

        <li>
            <span class="fa fa-camera" aria-hidden="true"></span>
            <span class="glyphicon-class">camera</span>
        </li>

        <li>
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            <span class="glyphicon-class">map-marker</span>
        </li>

        <li>
            <span class="fa fa-adjust" aria-hidden="true"></span>
            <span class="glyphicon-class">adjust</span>
        </li>

        <li>
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class="glyphicon-class">edit</span>
        </li>

        <li>
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-left</span>
        </li>

        <li>
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-right</span>
        </li>

        <li>
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span class="glyphicon-class">calendar</span>
        </li>

        <li>
            <span class="fa fa-comments" aria-hidden="true"></span>
            <span class="glyphicon-class">comment</span>
        </li>

        <li>
            <span class="fa fa-briefcase" aria-hidden="true"></span>
            <span class="glyphicon-class">briefcase</span>
        </li>

        <li>
            <span class="fa fa-paperclip" aria-hidden="true"></span>
            <span class="glyphicon-class">paperclip</span>
        </li>

        <li>
            <span class="fa fa-link" aria-hidden="true"></span>
            <span class="glyphicon-class">link</span>
        </li>


        <li>
            <span class="fa fa-credit-card" aria-hidden="true"></span>
            <span class="glyphicon-class">credit-card</span>
        </li>

        <li>
            <span class="fa fa-cutlery" aria-hidden="true"></span>
            <span class="glyphicon-class">cutlery</span>
        </li>

        <li>
            <span class="fa fa-phone" aria-hidden="true"></span>
            <span class="glyphicon-class">earphone</span>
        </li>
    </ul>
</div>

<h3>Ionicons</h3>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <span class="ion ion-email" aria-hidden="true"></span>
            <span class="glyphicon-class">envelope</span>
        </li>

        <li>
            <span class="ion ion-search" aria-hidden="true"></span>
            <span class="glyphicon-class">search</span>
        </li>

        <li>
            <span class="ion ion-person" aria-hidden="true"></span>
            <span class="glyphicon-class">user</span>
        </li>

        <li>
            <span class="ion ion-checkmark" aria-hidden="true"></span>
            <span class="glyphicon-class">ok</span>
        </li>

        <li>
            <span class="ion ion-close" aria-hidden="true"></span>
            <span class="glyphicon-class">remove</span>
        </li>

        <li>
            <span class="ion ion-gear-a" aria-hidden="true"></span>
            <span class="glyphicon-class">cog</span>
        </li>


        <li>
            <span class="ion ion-printer" aria-hidden="true"></span>
            <span class="glyphicon-class">print</span>
        </li>

        <li>
            <span class="ion ion-camera" aria-hidden="true"></span>
            <span class="glyphicon-class">camera</span>
        </li>

        <li>
            <span class="ion ion-location" aria-hidden="true"></span>
            <span class="glyphicon-class">map-marker</span>
        </li>

        <li>
            <span class="ion ion-contrast" aria-hidden="true"></span>
            <span class="glyphicon-class">adjust</span>
        </li>

        <li>
            <span class="ion ion-edit" aria-hidden="true"></span>
            <span class="glyphicon-class">edit</span>
        </li>

        <li>
            <span class="ion ion-chevron-left" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-left</span>
        </li>

        <li>
            <span class="ion ion-chevron-right" aria-hidden="true"></span>
            <span class="glyphicon-class">chevron-right</span>
        </li>

        <li>
            <span class="ion ion-calendar" aria-hidden="true"></span>
            <span class="glyphicon-class">calendar</span>
        </li>

        <li>
            <span class="ion ion-chatbubble-working" aria-hidden="true"></span>
            <span class="glyphicon-class">comment</span>
        </li>

        <li>
            <span class="ion ion-briefcase" aria-hidden="true"></span>
            <span class="glyphicon-class">briefcase</span>
        </li>

        <li>
            <span class="ion ion-paperclip" aria-hidden="true"></span>
            <span class="glyphicon-class">paperclip</span>
        </li>

        <li>
            <span class="ion ion-link" aria-hidden="true"></span>
            <span class="glyphicon-class">link</span>
        </li>


        <li>
            <span class="ion ion-card" aria-hidden="true"></span>
            <span class="glyphicon-class">credit-card</span>
        </li>

        <li>
            <span class="ion ion-fork" aria-hidden="true"></span>
            <span class="glyphicon-class">cutlery</span>
        </li>

        <li>
            <span class="ion ion-ios-telephone" aria-hidden="true"></span>
            <span class="glyphicon-class">earphone</span>
        </li>
    </ul>
</div>
