<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <p class="h1">Vestibular<br/>
                Uniritter</p>
            </div>
            <div class="col-sm-6 col-lg-7">
                <p class="lead">Venha para o lugar dos inquietos.<br/>
                Você não está sozinho.</p>
                <a href="#" class="btn btn-default btn-lg">Saiba mais</a>
                <a href="#" class="btn btn-primary btn-lg">Inscreva-se</a>
            </div>
        </div>
    </div>
</div>
