<button class="btn btn-primary" data-toggle="modal" data-target="#source-modal">Abrir modal</button>

<div id="source-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Janela modal</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima distinctio, sapiente maiores, soluta qui obcaecati reprehenderit dignissimos laborum veniam. Veritatis impedit provident, doloribus culpa architecto eius vitae sint soluta. Veritatis.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
