<ul class="list-unstyled news-list">
    <li class="news-list__item">
        <a href="/news.html">
            <span class="news-list__date">04/05/2015</span>
            Capacitação de lideranças trouxe vice-presidente de Medicina e Ciências da Saúde da Laureate International à UniRitter
        </a>
    </li>
    <li class="news-list__item">
        <a href="/news.html">
            <span class="news-list__date">04/05/2015</span>
            A luta das mulheres e reforma política será tema de palestra no Campus Canoas
        </a>
    </li>
    <li class="news-list__item">
        <a href="/news.html">
            <span class="news-list__date">04/05/2015</span>
            Nutri&amp;Ciência e UniRitter promovem evento no dia 06 de maio
        </a>
    </li>
    <li class="news-list__item">
        <a href="/news.html">
            <span class="news-list__date">04/05/2015</span>
            Evento sobre Movimentos Sociais e Direito no Campus Canoas
        </a>
    </li>
</ul>
