<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            Painel básico
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Cabeçalho do painel</div>
        <div class="panel-body">
            Conteúdo do painel
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            Conteúdo do painel
        </div>
        <div class="panel-footer">Rodapé do painel</div>
    </div>
</div>

<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Painel primario</h3>
            </div>
            <div class="panel-body">
                Conteúdo do painel
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Painel de successo</h3>
            </div>
            <div class="panel-body">
                Conteúdo do painel
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Painel de alerta</h3>
            </div>
            <div class="panel-body">
                Conteúdo do painel
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Painel de perigo</h3>
            </div>
            <div class="panel-body">
                Conteúdo do painel
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Painel informativo</h3>
            </div>
            <div class="panel-body">
                Conteúdo do painel
            </div>
        </div>
    </div>
</div>
