
<!-- Cabeçalhos -->

<div class="row">
    <div class="col-lg-6">
        <div class="bs-component">
            <h1>Cabeçalho 1</h1>
            <h2>Cabeçalho 2</h2>
            <h3>Cabeçalho 3</h3>
            <h4>Cabeçalho 4</h4>
            <h5>Cabeçalho 5</h5>
            <h6>Cabeçalho 6</h6>
            <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bs-component">
            <h2>Nome do capítulo</h2>
            <p class="lead">Linha de apoio lorem ipsum dolor sit amet.</p>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sit error tempora excepturi doloribus, nihil assumenda porro voluptatum eligendi suscipit consequatur impedit fugiat explicabo eius omnis odio eaque molestias officia!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque deleniti, cumque voluptatibus veritatis assumenda atque, laboriosam, eveniet fugit esse possimus iste ex tempore quae perferendis minus labore est repellat aliquid!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui omnis, ullam at quaerat quam, nihil alias ducimus veniam officiis, molestiae ipsam, recusandae incidunt. Distinctio perspiciatis fugiat accusamus dolores adipisci.</p>
            <p><small>PS.: Linhas finas.</small></p>
        </div>
    </div>
</div>

<!-- Blockquotes -->

<div class="row">
    <div class="col-lg-12">
        <h3 id="type-blockquotes">Citações</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="bs-component">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Alguém famoso em <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bs-component">
            <blockquote class="pull-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Alguém famoso em <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
    </div>
</div>
