// Colors
@brand-primary:    #931b1d;

// Objects
@text-color:       #222;
@link-color:       @brand-primary;
@link-hover-color: darken(@link-color, 10%);

// Typography
@font-family-base: sans-serif;
@font-size-base:   16px;

@headings-font-family: DIN, sans-serif;
@headings-font-weight: bold;

@border-radius-base: 0;
@border-radius-small: @border-radius-base;
@border-radius-large: @border-radius-base;

@font-path: '../fonts/';
@icon-font-path:  @font-path;
@fa-font-path:  @font-path;
@ionicons-font-path:  @font-path;

@navbar-default-bg: #fff;
