.navbar-default{
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-bottom: 0;
  border: none;
  z-index: 2;

  .navbar-toggle{
    margin-top: 1.5em;
    font-family: @headings-font-family;
  }
}

.navbar-brand{
  height: auto;

  @media (max-width: @screen-sm-max) {
    float: none;
    display: block;
  }

  img{
    max-width: 60%;

    @media (min-width: @screen-sm-min) {
      max-width: 230px;
    }
  }
}

.navbar-right{
  @media (min-width: @screen-sm-min) {
    margin-top: 1em;
  }
}
.navbar-phone{
  font-size: 18px;
  line-height: 1;

  strong{
    display: block;
    color: @brand-primary;
    font-size: 1.2em;
  }
}

.navbar-default .navbar-nav {
  .navbar__exams{
    background: @brand-primary;
    border: 1px solid @brand-primary;
    text-shadow: 0 2px 1px rgba(0,0,0,.2);

    a, a:hover{
      font-family: @headings-font-family;
      color: #fff;
    }
  }

  .navbar__portal{
    margin: 0 1em;

    a{
      font-family: @headings-font-family;
      color: @text-color;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}
