.news-list{
  margin-bottom: 1em;

  &__item{
    font-size: 18px;

    & + &{
      margin-top: 1em;
    }
  }

  &__date{
    font-size: 13px;
    font-weight: bold;
    display: block;
    color: @text-color;
  }
}
