.font-face(DIN, '../fonts/DINPro-Bold', bold);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    text-transform: uppercase;
}

.lead{
  font-weight: normal;
}

.page-header--main{
  background: @brand-primary;
  margin-top: 0;
  padding-top: (@line-height-computed * 2);
  color: #fff;

  h1, .h1{
    @media (min-width: @screen-md-min) {
      font-size: 60px;
    }
  }
}

.page-header--design{
  background-color: #32b879;
}

.news-content{
  @media (min-width: @screen-md-min) {
    font-size: 1.2em;

    .small{
      font-size: 0.75em;
    }
  }

  p{
    margin-bottom: 1em;
  }
}

.row li {
  list-style-position: inside;
}
